<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Infosarch</title>
  </head>
  <body>
    <div class="container">
        <div class="row justify-content-md-center"><br><br><br><br><br><br><br><br></div>
        <div class="row justify-content-md-center">
                <h2 align="center" class="display-4">Привет! Здесь можно ввести запрос:</h2><br><br><br><br>
        </div>
        <div class="row justify-content-md-center">
                <form align='center'method="GET" action='/result/'>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-outline-primary">
                            <input type="radio" name="model" id="option1" autocomplete="off" value="1" checked> Tf-Idf
                          </label>
                          <label class="btn btn-outline-success">
                            <input type="radio" name="model" id="option2" autocomplete="off" value="2"> BM25
                          </label>
                          <label class="btn btn-outline-danger">
                            <input type="radio" name="model " id="option3" autocomplete="off" value="3"> FastText
                          </label>
                        <label class="btn btn-outline-warning">
                            <input type="radio" name="model" id="option3" autocomplete="off" value="4"> Elmo
                          </label>
                        </div>
                    <br><br>
                    <div class="form-group">
                        <input class='form-control form-control-lg' type='text' name = 'sentence' placeholder="Введите запрос"></p>
                        <input name="text" class="btn btn-outline-success" type="submit" value=" Найти ">
                    </div>
                </form>
        </div>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
