<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Спасибо</title>
</head>
<body>
<h1>Спасибо за помощь! Ваши ответы сохранены.</h1>
<p><a target = "_blank" href = "http://localhost:5000/stats/" title = "Ссылка">Здесь можно посмотреть на статистику</a></p>
<p><a target = "_blank" href = "http://localhost:5000/json/" title = "Ссылка">Здесь можно посмотреть на все введенные данные</a></p>
<p><a target = "_blank" href = "http://localhost:5000/search/" title = "Ссылка">Здесь можно поискать что-нибудь</a></p>

</body>
</html>