<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>Анкета</title>
</head>
<body>
	<h2>Ответьте, пожалуйста, на следующие вопросы!</h2>
	<form action='form' method='get'>
		<p><strong>Имя</strong>
		<input type='text' name = 'name' /></p>
		<p><strong>Возраст</strong>
		<input type='text' name = 'age' /></p>
		<p><strong>Город</strong>
		<input type='text' name = 'city' /></p>
		<p><strong>Образование</strong></p>
		<input type="radio" name="answer" value="9">Неполное среднее<Br>
		<input type="radio" name="answer" value="11">Полное среднее<Br>
		<input type="radio" name="answer" value="студент">Студент<Br>
		<input type="radio" name="answer" value="высшее">Высшее<Br>
		<p><strong>Какую начинку содержит ватрушка?</strong>
		<input type='text' name = 'vatrushka' />
		<p><strong>Какую начинку содержит шаньга?</strong>
		<input type='text' name = 'shanga' />
		<p><strong>Какую начинку содержит расстeгай?</strong>
		<input type='text' name = 'rasstegay' />
		<input type="submit" value="Отправить">
	</form>
</body>