<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>Страница поиска</title>
</head>
<body>
	<h2>Здесь вы можете проверить, какие булочки с какой начинкой в каком городе выпекают</h2>
	<form name="form1" action="http://localhost:5000/results" >
		<input type="radio" name="answer" value="Ватрушку">Ватрушка<Br>
		<input type="radio" name="answer" value="Шуньгу">Шаньга<Br>
		<input type="radio" name="answer" value="Расстегай">Расстегай<Br>
		<input type="submit" value="Отправить">
	</form>
</body>